table {
    width: 100%;
  }
.search {
    padding: 10px 10px 13px 10px;
    display: flex;
    /* widows: 500px;
    float: left;
    padding-left: 353px */
  }
  .left{
    float: left;
  }
      .search-txt {
          padding: 10px;
          font-size: 17px;
          border: 2px solid #7BC0BB;
          float: left;
          width: 80%;
          border-right: none;
          background: #ffffff;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
      }
    
      .btn-srch {
          border: 2px solid #7BC0BB;
          border-left: none;
          padding: 5px;
          width: 20%;
          border-bottom-right-radius: 20px;
          border-top-right-radius: 20px;
          cursor: pointer;
          color: #7BC0BB;
      }
     
    
    tr.row{
      background-color: #7BC0BB;
    }
    th.font{
      color:white;
      font-size: 15px;
    }
    .mr-3{
      margin-right:10px;
    }
    table {
      width: 100%;
      table-layout: fixed;
    }
    
    .first{
      width: 15%;
    }
    
    .first-name-col{
      width: 9%;
    }
    
    .first-data{
      width: 15%;
    }
    
    .phone{
      width: 7%;
    }
    
    .alternateEmail{
      width: 15%;
    }
    
    .last-col{
      width:9%;
    }
    
    .second{
      width: 128px;
    }
    
    th, td {
      overflow: hidden;
      width: 100px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .btn{
      padding: 0px !important;
      min-width: 26px;
    }
    
    .headerCard {
      padding-left: 24px;
      padding-right: 24px;
      width:100%;
      padding-top:11px;
    }
    .first-col{
      width: 8%;
    }
    
    .add{
      float: right;
      margin:15px 0px 15px 15px;
      margin-top: 5px !important;
      background-color: #7BC0BB;
      color: white !important;
    }
    
    .topLabel{
      margin-bottom: 0px;
      margin-top: 20px;
      font-weight: bold;
      color: #7BC0BB;
    }
    
    table{
      width: 100%;
     }
     
     .mat-column-firstname {
       word-wrap: break-word !important;
       white-space: unset !important;
       flex: 0 0 28% !important;
       width: 28% !important;
       overflow-wrap: break-word;
       word-wrap: break-word;
     
       word-break: break-word;
     
       -ms-hyphens: auto;
       -moz-hyphens: auto;
       -webkit-hyphens: auto;
       hyphens: auto;
     }
     
     .mat-column-lastname {
       word-wrap: break-word !important;
       white-space: unset !important;
       flex: 0 0 25% !important;
       width: 25% !important;
       overflow-wrap: break-word;
       word-wrap: break-word;
     
       word-break: break-word;
     
       -ms-hyphens: auto;
       -moz-hyphens: auto;
       -webkit-hyphens: auto;
       hyphens: auto;
     }