<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
      <mat-form-field  appearance="outline">
        <input type="password" matInput placeholder="current password" [(ngModel)]="data.current_password">
        <!-- <mat-icon class="align">visibility</mat-icon> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="password" matInput placeholder="New password" [(ngModel)]="data.password"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="password" matInput placeholder="Confirm password" [(ngModel)]="confirmPassword"/>
      </mat-form-field>       
      <button class="profile_btn" (click)="save()">Save</button>
        <button class="profile_btn_border" (click)="forgotPassword()">Forgot Password</button>
    
    </div>
  </div>
