<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
    <button class="profile_btn" (click)="signInDetails()">Change Sign in Details</button>
    <button class="profile_btn_border" (click)="changePassword()">Change My Password</button>
    <!-- <mat-label class="title">Need Assistance? Please mail us...</mat-label>
      <mat-form-field  appearance="outline">
        <input matInput placeholder="abc@gmail.com" [(ngModel)]="helpdata.email"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Subject"  [(ngModel)]="helpdata.subject"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Your Question" [(ngModel)]="helpdata.description" rows="8"></textarea>
      </mat-form-field>       
      <div>
        <button mat-raised-button class="profile_btn send_btn" (click)="send()">send</button>
      </div> -->

      <!-- <div class="mat-content">
        <mat-label class="title">Contact Us:</mat-label>
        <mat-label><img class="" src="../../assets/imgs/email.png"> Info@nolimitsasia.com</mat-label>
        <mat-label><img src="../../assets/imgs/phone2.png"> +65 6232 2466</mat-label>
        <mat-label><img src="../../assets/imgs/location.png"> NoLimits, 6 Battery Road<br />
          Level 42, Singapore 049909</mat-label>
        <mat-label><img src="../../assets/imgs/globe2.png"> www.nolimitsasia.com</mat-label>
      </div> -->

    </div>
  </div>

